<title>{{ site.title }}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="Fotograf de nuntă din Timișoara | Fotograf de botez din Timișoara | Fotograf de petreceri din Timișoara | Fotograf de evenimente din Timișoara | Patrik Stoian Fotograf">
<meta name="keywords" content="Fotograf de nuntă, Fotograf de botez, Fotograf de evenimente">
<meta name="author" content="Patrik Stoian">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="assets/css/main.min.css"/>
<link rel="stylesheet" href="assets/css/swipebox.min.css">